[Unit]
Description=RGBMatrix Ticker Service
After=network.target
Wants=network.target

[Service]
User=root
WorkingDirectory=/home/pi/matrixticker
ExecStart=python3 /home/pi/matrixticker/ticker.py

[Install]
WantedBy=multi-user.target
