[Unit]
Description=RGBMatrix Ticker Service
After=network.target
Wants=network.target

[Service]
User=root
WorkingDirectory=/home/pi/matrixticker
ExecStart=/home/pi/matrixticker/venv/bin/python3 /home/pi/matrixticker/main.py

[Install]
WantedBy=multi-user.target
